﻿@model TestProj.ViewModels.MinMedianMaxViewModel

@{
    ViewData["Title"] = "Importexcel";
    Layout = "~/Pages/_Layout.cshtml";
}
<style>
    .export {
        padding: 10px;
        background: #27ff0052;
        margin-bottom: 10px;
    }
</style>
<h2>Imported from excel</h2>
<span>@ViewBag.Error</span>

    <div class="export">
        <label>Max Value: </label>
        <span>@Model.MaxValue</span>
    </div>
    <div class="export">
        <label>Median Value: </label>
        <span>@Model.MedianValue</span>
    </div>
    <div class="export">
        <label>Min Value: </label>
        <span>@Model.MinValue</span>
    </div>




