﻿@page

@using (Html.BeginForm("Importexcel", "Excel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr><td  style="padding:10px;">Excel file</td><td><input type="file" id="FileUpload1" name="FileUpload1" /></td></tr>
        <tr><td></td><td><input class="btn btn-primary" type="submit" id="Submit" name="Submit" value="Submit" /></td></tr>
    </table>
}