﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .col-form-label {
        padding: 10px;
    }
</style>
<h3>Person List</h3>
<div ng-controller="PersonCtrl as vm">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" ng-click="vm.OpenNew()">Create Person</button>
    <div class="row" style="padding:15px">
        <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <th class="th-sm">
                        First Name
                    </th>
                    <th class="th-sm">
                        Last Name
                    </th>
                    <th class="th-sm">
                        Email
                    </th>
                    <th class="th-sm">
                        Address
                    </th>
                    <th class="th-sm">
                        Department
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="items in vm.PersonList">
                    <td>{{items.firstName}}</td>
                    <td>{{items.lastName}}</td>
                    <td>{{items.email}}</td>
                    <td>{{items.address}}</td>
                    <td>{{items.departmentName}}</td>
                    <td>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"  ng-click="vm.OpenEditModal(items.personID)">Edit</button>
                        <button class="btn btn-danger" ng-click="vm.DeletePerson(items.personID)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 ng-hide="vm.IsEdit" class="modal-title">Create User</h4>
                        <h4 ng-show="vm.IsEdit" class="modal-title">Edit User</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
                            <div class="col-sm-10">
                                <input ng-model="vm.PersonDetails.firstName" type="text" class="form-control" id="firstName" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
                            <div class="col-sm-10">
                                <input ng-model="vm.PersonDetails.lastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input ng-model="vm.PersonDetails.email" type="text" class="form-control" id="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="address" class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-10">
                                <input ng-model="vm.PersonDetails.address" type="text" class="form-control" id="address" placeholder="Address">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="department" class="col-sm-2 col-form-label">Department</label>
                            <div class="col-sm-10">
                                <input ng-model="vm.PersonDetails.departmentName" type="text" class="form-control" id="department" placeholder="Department">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-hide="vm.IsEdit" type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.CreatePerson(vm.PersonDetails)">Save</button>
                        <button ng-show="vm.IsEdit" type="button" class="btn btn-success" data-dismiss="modal" ng-click="vm.UpdatePerson(vm.PersonDetails)">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
